@import "./foundation/label";
@import "./foundation/ca";

[data-view="recipes#show"] {
  // sidebar toggles

  #sidebar-options-column {
    margin-top: calc(24px + 0.5rem);
  }

  #preview-toggle {
    &:hover {
      background-color: #00a734;
      border-color: #00a734;
    }
  }

  #recipe-option-toggles {
    .panel-block label.checkbox {
      display: flex;
      align-items: center;
      width: 100%;

      span.icon-text {
        flex-grow: 1;
        justify-content: space-between;
      }
    }

    .panel-heading {
      cursor: pointer;
      background: #408abf !important;
      user-select: none;

      border-radius: 4px;
      transition: border-radius 0.15s;

      &.is-active {
        border-radius: 4px 4px 0 0;
      }
    }

    .panel:not(:last-child) {
      &.is-active {
        margin-bottom: 1rem;
      }

      &:not(.is-active) {
        margin-bottom: 0.75rem;
      }
    }

    .breadcrumb li.is-active a {
      // Default is 'none', but we want these to be clickable
      // and function like a <label>
      cursor: pointer;
      pointer-events: auto;
    }

    .panel-block {
      .field[data-bilingual-field] {
        margin-top: 0.5rem;
        margin-bottom: 0px;
      }

      label {
        cursor: pointer;
      }
    }

    .bilingual-language-indicator {
      font-size: 0.5rem;
      height: 0.5em;
      vertical-align: super;
    }
  }
}

[data-view="recipes#show"] #label-and-claim-div,
#recipe-edit-label-preview {
  #label {
    box-sizing: content-box;
    font-size: 14px;
    line-height: 19px;

    td {
      padding: 1px 3px;
    }
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both;
  }

  #label .label {
    color: inherit;
    font-weight: initial;
    margin-bottom: initial;
  }

  /* Use an isolated specific border-collapse for tables used in label rendering */
  .nutritionfactstable,
  .aggregatenutritionfactstable,
  #tabularnutritionfactstable {
    table {
      border-collapse: collapse;
      border-spacing: 1px;
    }
  }

  .nutritionfactstable,
  #newchildnutritionfactstable,
  #childnutritionfactstable,
  #infantnutritionfactstable,
  #newinfantnutritionfactstable,
  #newnutritionfactstable,
  #newaspreparednutritionfactstable,
  #newaggregatenutritionfactstable,
  #newdualnutritionfactstable,
  #newcanadanutritionfactstable {
    @include nutrition-panel;
  }

  #newcanadanutritionfactstable,
  #newnutritionfactstable,
  #new-canada-ingredients-allergens-table {
    width: 227px;
  }

  #new-canada-ingredients-allergens-table {
    box-sizing: content-box;
    border: 1px solid;
    margin-top: 10px;
    padding: 4px;
    padding-top: 3px;
    color: black;
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    width: 207px;
    float: left;
  }

  #newdualnutritionfactstable,
  #newaspreparednutritionfactstable {
    width: 301px;
  }

  #newaggregatenutritionfactstable {
    width: 415px;
    padding: 4px 1px 4px 4px;
  }

  #newaggregatefooter {
    display: flex;
  }

  #newaggregatefooterleft {
    box-sizing: border-box;
    width: 120px;
    padding-right: 8px;
  }

  #newaggregatefooterleft > .asterisksection-new-vertical {
    width: auto;
  }

  #linearnutritionfactstable,
  #newlinearnutritionfactstable,
  #newlinearcanadanutritionfactstable {
    border: 1px solid;
    padding: 3px;
    padding-top: 5px;
    color: black;
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    width: 430px;
    float: left;
  }

  #tabularnutritionfactstable,
  .aggregatenutritionfactstable,
  #newtabularnutritionfactstable {
    border: 1px solid;
    padding: 3px;
    color: black;
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    float: left;
    line-height: 12px;
  }

  #tabularnutritionfactstable,
  #newtabularnutritionfactstable {
    display: flex;
  }

  .abbreviated {
    display: none;
  }

  .dual-multi-line {
    position: relative;
  }

  .dual-multi-line-inner-div {
    float: left;
    position: relative;
    width: 165px;
  }

  .dual-multi-line > .dual-prepared-col,
  .dual-multi-line-inner-div > .dual-packaged-col {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .dual-left-col {
    float: left;
    width: 120px;
  }

  .dual-packaged-col,
  .dual-prepared-col {
    width: 45px;
    float: right;
  }

  .dual-packaged-col div,
  .dual-prepared-col div {
    float: right;
  }

  .dual-left-col {
    float: left;
    width: 117px;
  }

  .dual-left-col div {
    float: left;
  }

  .dual-serving-col,
  .dual-package-col {
    width: 85px;
    float: right;
    border-left: 1px solid black;
  }

  .dual-serving-col {
    padding: 0 3px;
  }

  .dual-package-col {
    padding-left: 3px;
  }

  .dual-serving-col div,
  .dual-package-col div {
    float: right;
    text-align: right;
  }

  .agg-left-col {
    float: left;
    width: 225px;
    padding-right: 3px;
  }

  .agg-vitamin-left-col {
    float: left;
    width: 100px;
  }

  .agg-left-col div {
    float: left;
  }

  .agg-vitamin-left-col div {
    float: left;
  }

  .agg-package-col {
    width: 85px;
    float: right;
    border-left: 1px solid black;
    padding: 0 3px;
  }

  .agg-package-col div {
    float: right;
    text-align: right;
  }

  .package-name {
    text-align: right;
    line-height: 16px;
  }

  .tabular-dual-left-col {
    float: left;
    width: 115px;
  }

  .tabular-dual-left-col div {
    float: left;
  }

  .tabular-dual-serving-col,
  .tabular-dual-package-col {
    width: 77px;
    float: right;
  }

  .tabular-dual-serving-col {
    padding: 0 3px;
  }

  .tabular-dual-package-col {
    padding-left: 3px;
  }

  .tabular-dual-serving-col div,
  .tabular-dual-package-col div {
    float: right;
  }

  #tabular_macro_col {
    width: 130px;
    float: left;
    line-height: 13px;
    padding-right: 5px;
  }

  #new_tabular_macro_col {
    width: 140px;
    float: left;
    line-height: 13px;
    padding-right: 10px;
  }

  #tabular_nutrient_cols {
    float: left;
    width: 357px;
  }

  .tabular_nutrient_col {
    width: 175px;
    float: left;
    padding-top: 4px;
  }

  #new_tabular_nutrient_cols {
    float: left;
    width: 427px;
  }

  #new_tabular_dual_nutrient_cols {
    float: left;
  }

  .new_tabular_nutrient_col {
    width: 210px;
    float: left;
    /*padding-top:0px;*/
  }

  .tabular_nutrient_col:first-child,
  .new_tabular_nutrient_col:first-child {
    padding-right: 7px;
  }

  .new_tabular_dual_nutrient_col {
    float: left;
    /*padding-top:0px;*/
  }

  .tabular_nutrient_col:first-child,
  .new_tabular_nutrient_col:first-child,
  .new_tabular_dual_nutrient_col:first-child {
    padding-right: 5px;
  }

  .new_tabular_dual_nutrient_col:first-child {
    border-right: 1px solid black;
  }

  .new_tabular_dual_nutrient_col:nth-child(2) {
    padding-left: 5px;
  }

  #tabular_asterisk_col {
    width: 192px;
    float: left;
    padding-top: 4px;
    padding-left: 7px;
    font-size: 8px;
    line-height: 10px;
    text-align: justify;
  }

  #new_tabular_asterisk_col,
  #new_tabular_added_sugar_col {
    width: 75px;
    float: left;
    padding-top: 14px;
    padding-left: 7px;
    font-size: 8px;
    line-height: 10px;
  }

  #new_tabular_dual_asterisk_row,
  #new_tabular_added_sugar_row {
    font-size: 8px;
    line-height: 10px;
  }

  #asterisk_section_tabular {
    width: 192px;
  }

  #asterisk_section_tabular thead {
    border-bottom: 1px solid;
  }

  .asterisk {
    float: left;
    width: 5px;
  }

  .asterisk_text {
    float: right;
    width: 95%;
  }

  .fda-dagger::after {
    content: "†";
    font-size: 7px;
    line-height: 8px;
    vertical-align: top;
  }

  .tabularright .fda-dagger {
    @include label-font;
  }

  #aggregatenutritionheading,
  .newcanadalinearnutritionheading,
  .linearnutritionheading,
  .linearnutrient,
  .nutritionheading,
  #tabularheading,
  #newtabularheading,
  #childheading,
  #newchildheading,
  #infantheading,
  #newinfantheading,
  .subright,
  .subright-sat-trans,
  :not(label).label,
  .blank,
  .tabularright,
  .servingsizenew-bold,
  .ca-agg-ingredient-list-recipe-name,
  .agg-ingredient-list-recipe-name,
  #newaspreparednutritionheading,
  #newaggregatenutritionheading,
  #newaggregateservingsize,
  #newdualnutritionheading,
  #newnutritionheading,
  .newdailyvalue {
    @include label-font-bold;
  }

  .linearnutrientcontent,
  .servingsize,
  .nutrientsubgroup,
  .nutrientsubsubgroup,
  .nutrientcontent,
  .vitamin,
  .childvitamin,
  .infantvitamin,
  .childvitaminbullet,
  .infantvitaminbullet,
  .vitaminbullet,
  .vitamintabular,
  .vitamintabularrow,
  .vitaminnewtabularrow,
  .vitaminbullettabular,
  .asterisksection,
  .asterisksectionaggregate,
  .servings-per-container,
  .package-name,
  #tabular_asterisk_col,
  #new_tabular_asterisk_col,
  #new_tabular_added_sugar_col,
  #new_tabular_dual_asterisk_row,
  #new_tabular_added_sugar_row,
  #asterisksection-replace-preview,
  #asterisksection-replace,
  #asterisksection-replace-aggregate,
  #asterisksectiontabular-replace,
  .asterisksection-new-child,
  .asterisksection-new-vertical,
  #calorieconversion,
  #calorieconversiontabular,
  #calorieconversionaggregate,
  #new-vertical-insignificant-nutrients-list,
  #insignificant-nutrients-list,
  #insignificant-nutrients-list-tabular,
  #insignificant-nutrients-list-new-tabular,
  #insignificant-nutrients-list-as-packaged,
  #insignificant-nutrients-list-new-as-packaged,
  #insignificant-nutrients-list-new-aggregate,
  #new_tabular_daily_value_explanation,
  .childinfantright,
  .unboldnutrient,
  #recipe-show-ingredient-list,
  .agg-ingredient-list,
  .recipe-show-new-canada-ingredient-list,
  .recipe-show-new-canada-french-ingredient-list,
  #allergen-list,
  .allergen-list-canada-english,
  .allergen-list-canada-french,
  .agg-allergen-list,
  .facility-allergen-list-canada-english,
  .facility-allergen-list-canada-french,
  #recipe_manufactured_at,
  #recipe_manufactured_at_growing_textarea,
  #facility-allergen-list,
  #bioengineered-claim,
  .label-footnote-section,
  .tabularright-ca {
    @include label-font;
  }

  .linearnutritionheading,
  .newcanadalinearnutritionheading {
    font-size: 15px;
    float: left;
    line-height: 12px;
    margin-top: -1px;
  }

  .newcanadalinearnutritionheading {
    font-size: 13px;
  }

  // Add padding to the top of the second language section if
  // it is not hidden and the first language section is not hidden
  .newcanadalinear > *:not(.is-hidden) + *:not(.is-hidden) {
    padding-top: 6px;
  }

  .linearnutrient {
    font-size: 11px;
    line-height: 13px;
    float: left;
  }

  .linearnutrient.linearextrapadding,
  .linearnutritionheading.linearextrapadding {
    padding-top: 5px;
  }

  .nutritionheading,
  #aggregatenutritionheading,
  #tabularheading,
  #newtabularheading,
  #newinfantheading,
  #infantheading,
  #newchildheading,
  #childheading {
    font-size: 24px;
    line-height: 100%;
  }

  #newnutritionheading {
    font-size: 27px;
    line-height: 100%;
  }

  #newdualnutritionheading,
  #newaspreparednutritionheading {
    font-size: 35px;
    line-height: 100%;
  }

  #newaggregatenutritionheading {
    font-size: 27px;
    line-height: 100%;
  }

  #newcanadaheading {
    @include ca-heading;
  }

  #tabularheading {
    line-height: 24px;
    padding-bottom: 12px;
  }

  #tabularcalories {
    margin-top: 7px;
  }

  .a {
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
  }

  .servingsize {
    font-size: 11px;
    padding-top: 1px;
  }

  .thickseparator {
    padding-top: 2.66px;
    margin-bottom: 2.66px;
    border-bottom: 10px solid;
    width: 100%;
  }

  .canadathickseparator {
    @include ca-thick-separator;
  }

  .canadamediumseparator {
    padding-top: 2.66px;
    margin-bottom: 2.66px;
    border-bottom: 2px solid;
  }

  .subhairlinespacer {
    margin-bottom: 1.33px;
  }

  .hairlineseparator {
    @include hairline-separator;
  }

  .hairlineseparatornopadding {
    padding-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid;
  }

  .separator {
    padding-top: 2.66px;
    margin-bottom: 2.66px;
    border-bottom: 4px solid;
    width: 100%;
  }

  .subhairlineseparator {
    padding-top: 2.66px;
    margin-bottom: 2.66px;
    margin-left: 10px;
    padding-left: 10px;
    border-bottom: 1px solid;
  }

  .subsubhairlineseparator {
    padding-top: 2.66px;
    margin-bottom: 2.66px;
    margin-left: 20px;
    padding-left: 20px;
    border-bottom: 1px solid;
  }

  .nutrient {
    @include nutrient;
  }

  .unboldnutrient {
    font-size: 11px;
    line-height: 12px;
  }

  .nutrientsubgroup {
    font-size: 11px;
    padding-left: 10px;
    line-height: 12px;
  }

  .nutrientsubsubgroup {
    font-size: 11px;
    padding-left: 20px;
    line-height: 12px;
  }

  .nutrientcontent {
    font-size: 11px;
    line-height: 12px;
  }

  .nutrientcontentvalue {
    margin-right: -3px;
  }

  .vitamin,
  .childvitamin,
  .infantvitamin {
    font-size: 11px;
    padding-top: 1px;
    line-height: 11px;
  }

  .vitamintabular {
    font-size: 11px;
    float: left;
  }

  .vitaminleft,
  .childvitaminleft,
  .infantvitaminleft {
    float: left;
    text-align: left;
    width: 207px;
  }

  .vitaminright,
  .childvitaminright,
  .infantvitaminright {
    padding-top: 0;
    width: 207px;
    text-align: right;
    position: absolute;
  }

  .vitaminbullet,
  .childvitaminbullet,
  .infantvitaminbullet {
    font-size: 13px;
    text-align: center;
    width: 207px;
    position: absolute;
    margin-top: 0px;
    overflow: hidden;
  }

  .vitaminbullettabular {
    float: left;
    font-size: 13px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .vitamintabularrow,
  .vitaminnewtabularrow {
    width: 100%;
    float: left;
    font-size: 11px;
  }

  .asterisksection,
  .asterisksectionaggregate,
  #asterisksection-replace-preview,
  #asterisksection-replace,
  #asterisksection-replace-aggregate,
  #calorieconversion,
  #calorieconversionaggregate,
  #insignificant-nutrients-list,
  .asterisksection-new-child,
  .asterisksection-new-vertical {
    font-size: 8px;
    padding-top: 1px;
    line-height: 10px;
    width: 207px;
    text-align: justify;
  }

  .asterisksection-new-aggregate {
    width: 125px;
  }

  .asterisksection-new-vertical,
  .asterisksection-new-child {
    width: inherit;
  }

  #asterisksection-replace-aggregate {
    width: 210px;
  }

  #new-vertical-insignificant-nutrients-list,
  #insignificant-nutrients-list-tabular,
  #insignificant-nutrients-list-new-tabular,
  #new_tabular_daily_value_explanation,
  #insignificant-nutrients-list-as-packaged,
  #insignificant-nutrients-list-new-as-packaged,
  #insignificant-nutrients-list-new-aggregate {
    font-size: 8px;
    padding-top: 1px;
    line-height: 10px;
    text-align: justify;
  }

  #calorieconversionaggregate {
    width: 210px;
  }

  #calorieconversiontabular {
    font-size: 8px;
    padding-top: 1px;
    line-height: 10px;
  }

  #asterisksectiontabular-replace {
    font-size: 8px;
    line-height: 10px;
    padding-top: 1px;
  }

  #asterisktable,
  #aggregateasterisktable {
    border-bottom: 1px solid;
    width: 207px;
  }

  #asterisktable thead,
  #aggregateasterisktable thead {
    border-bottom: 1px solid;
  }

  .labelright,
  .labelright-wide {
    position: absolute;
    width: 207px;
    text-align: right;
  }

  .labelright-wide {
    width: 227px;
  }

  .tabularright {
    float: right;
  }

  .childinfantright {
    float: right;
    line-height: 12px;
  }

  .nutrientsubgroup .childinfantright {
    line-height: 12px;
  }

  .subright,
  .subright-wide {
    position: absolute;
    margin-top: 0px;
    width: 197px;
    text-align: right;
    overflow: hidden;
  }

  .subright-wide {
    width: 217px;
  }

  .subright-sat-trans {
    margin-top: 7px;
  }

  :not(label).label {
    font-size: 9px;
  }

  .blank {
    font-size: 9px;
    color: white;
  }

  .toggles {
    float: left;
    margin-right: 10px;
    vertical-align: top;
  }

  .toggles > p {
    line-height: 6px;
    font-size: 6px;
  }

  .potassiumtoggle,
  .conversiontoggle,
  .satfatcaloriestoggle,
  .polymonounsatfattoggle,
  .othercarbtoggle,
  .vitaminDtoggle,
  .vitaminEtoggle,
  .thiamintoggle,
  .vitaminKtoggle,
  .riboflavintoggle,
  .niacintoggle,
  .vitaminB6toggle,
  .folatetoggle,
  .vitaminB12toggle,
  .pantothenicacidtoggle,
  .phosphorustoggle,
  .magnesiumtoggle,
  .zinctoggle,
  .seleniumtoggle,
  .coppertoggle,
  .manganesetoggle,
  .asterisksectiontoggle,
  .allvitaminstoggle > b,
  .asterisksectionminitoggle,
  .newsimplifiedformattoggle,
  .newaggregatesimplifiedformattoggle,
  .simplifiedformattoggle,
  .insignificanttoggle,
  .recipe-title,
  .ingredient-list,
  .allergen-list,
  .manufactured-at,
  .bioengineered-claim,
  .remove-uppercase,
  .make-lowercase,
  .make-titlecase,
  .facility-allergen-list,
  .justify-left,
  .justify-center,
  .servings-varied,
  .single-serving {
    vertical-align: top;
  }

  .slidercontainer {
    margin-top: 5px;
  }

  .carbconversion {
    width: 207px;
    text-align: center;
    position: absolute;
  }

  .carbconversionaggregate {
    width: 210px;
    text-align: center;
    position: absolute;
  }

  .carbconversiontabular {
    text-align: center;
    position: absolute;
    width: 192px;
  }

  .protein-conversion {
    &.vertical,
    &.aggregate {
      position: absolute;
      text-align: right;
    }

    &.vertical {
      width: 207px;
    }

    &.aggregate {
      width: 210px;
    }

    &.tabular {
      float: right;
    }
  }

  .optionsslidedown {
    background: rgb(49, 156, 39) 0%;
    background-image: linear-gradient(to top, rgb(49, 156, 39) 0%, rgb(46, 196, 38) 54%);
    zoom: 1;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px 6px;
    cursor: pointer;
  }

  #regularlabeloptions,
  #optionalnutrientsdiv,
  #optionalvitaminsdiv,
  #extrasections {
    display: none;
  }

  #regularlabeltextcolor {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nutrients_missing_note,
  .warning {
    margin: 0px 5px 3px 5px;
    padding: 3px 8px;
    background: rgb(243, 131, 92);
    border-radius: 3px;
  }

  #label-type {
    width: 150px;
  }

  #canada-fop-symbols,
  #nutrition-claims {
    margin-top: 10px;
    max-width: 700px;
  }

  #recipe-show-ingredient-list,
  .agg-ingredient-list,
  .agg-ingredient-list-recipe-name,
  .ca-agg-ingredient-list-recipe-name,
  .recipe-show-new-canada-ingredient-list,
  .recipe-show-new-canada-french-ingredient-list,
  #allergen-list,
  .allergen-list-canada-english,
  .allergen-list-canada-french,
  .agg-allergen-list,
  .facility-allergen-list-canada-english,
  .facility-allergen-list-canada-french,
  #recipe_manufactured_at,
  #facility-allergen-list,
  #bioengineered-claim {
    box-sizing: content-box;
    color: black;
    padding-top: 10px;
    font-size: 11px;
    line-height: 13px;
    width: 237px;
    text-align: justify;
    text-transform: uppercase;
  }

  .ca-agg-ingredient-list-recipe-name:first-child {
    padding-top: initial;
  }

  .recipe-show-new-canada-ingredient-list,
  .recipe-show-new-canada-french-ingredient-list,
  .allergen-list-canada-english,
  .allergen-list-canada-french,
  .facility-allergen-list-canada-english,
  .facility-allergen-list-canada-french {
    text-transform: none;
  }

  .agg-ingredient-list,
  .agg-allergen-list {
    padding-top: 4px;
  }

  #recipe_manufactured_at {
    min-width: initial;
  }

  #recipe_manufactured_at_growing_textarea {
    font-size: 11px;
    line-height: 13px;
    width: 1px; // Otherwise it won't go down to the min width of it's child text area
    text-align: justify;
    text-transform: uppercase;
  }

  .recipe-show-new-canada-ingredient-list,
  .recipe-show-new-canada-french-ingredient-list,
  .allergen-list-canada-english,
  .allergen-list-canada-french,
  .facility-allergen-list-canada-english,
  .facility-allergen-list-canada-french {
    padding-top: 1px;
  }

  .sub-allergens,
  #manufacture-address,
  #main-facility-allergen-options {
    vertical-align: top;
    padding-top: 10px;
  }

  .sub-allergens {
    padding-left: 40px;
  }

  #child-claims-note {
    display: none;
  }

  .servings-per-container-varied {
    display: none;
  }

  .servingsizenewcanada {
    font-size: 12px;
    line-height: 14px;
  }

  .newcanadalinear-calories {
    font-size: 11px;
    line-height: 12px;
  }

  .servingsizenew {
    font-size: 14px;
    line-height: 16px;
  }

  .servingsizenewtabular {
    font-size: 12px;
    line-height: 14px;
  }

  .new-calories-canada {
    @include ca-calories;
  }

  .new-calories {
    font-size: 22px;
    line-height: 24px;
  }

  .calories {
    float: right;
    font-size: 31px;
    position: relative;
    bottom: 3px;
  }

  .new-calories-tabular {
    font-size: 15px;
  }

  .calories-tabular {
    float: right;
    font-size: 23px;
    line-height: 100%;
  }

  .calories-tabular-div {
    float: left;
    line-height: 11px;
  }

  .newdailyvalue {
    float: right;
    font-size: 10px;
  }

  .pull-left {
    float: left !important;
  }

  .pull-right {
    float: right;
  }

  .pull-right div {
    float: right;
  }

  .no-padding-no-border {
    padding-right: 0 !important;
    border-right: 0 !important;
  }

  #newverticalvitaminsection > .dual-left-col > .nutrientcontent,
  #newaspreparedvitaminsection > .dual-left-col > .nutrientcontent,
  #newaggregatevitaminsection > .agg-left-col > .nutrientcontent {
    width: 100%;
  }

  #newaggregatevitaminsection {
    flex: 1;
  }

  #newinfantvitaminsection > .new-vertical-row > .pull-left,
  #newchildvitaminsection > .new-vertical-row > .pull-left,
  #newverticalvitaminsection > .new-vertical-row > .pull-left {
    width: 75%;
  }

  #newverticalvitaminsection.compact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > .nutrientcontent {
      position: relative;
      flex: 0 0 50%;

      &:nth-of-type(2n) {
        text-align: right;
      }

      &:nth-of-type(2n-1):not(:last-child)::after {
        content: "•";
        position: absolute;
        right: 0;
      }
    }
  }

  /* NOT THE SAME IN PDF VERSION - line-height:11px; padding-top:2px; */
  .linearnutrientcontent {
    font-size: 11px;
    float: left;
    line-height: 12px;
    padding-top: 1px;
  }

  /* NOT THE SAME IN PDF VERSION - 7px */
  .linearnutrientcontent.linearextrapadding {
    padding-top: 6px;
  }

  /* NOT THE SAME IN PDF VERSION */
  .newcanadalinear-servingsize {
    font-size: 10px;
    line-height: 11px;
  }

  /* NOT THE SAME IN PDF VERSION */
  .linearnutrientcontent.linearcanada {
    font-size: 9px;
    line-height: 10px;
  }

  /* NOT THE SAME IN PDF VERSION */
  .linearnutrient.linearcanada {
    font-size: 9px;
    line-height: 11px;
  }

  /* NOT THE SAME IN PDF VERSION */
  .newcanadalinearfootnote {
    float: left;
    font-size: 8px;
    line-height: 10px;
    margin-bottom: -2px;
  }

  #manufacture-address {
    max-width: 725px;
  }

  #manufacture-address-options {
    margin-top: 4px;
    max-width: 725px;
  }
}

.recipe-title-hidden:not(.public-recipe) {
  opacity: 0.3;
}
